@model IPagedList<workReport.Models.workList>

@using PagedList.Mvc;
@using PagedList;

<h2>Index</h2>
<link href="~/Scripts/nepali.datepicker.v2.2 (1)/nepali.datepicker.v2.2.min.css" rel="stylesheet" />

@using (Html.BeginForm())
{


    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                @Html.TextBoxFor(model => model.FirstOrDefault().date, new { @class = "form-control nepali-calendar" })
            </div>


            @*<div class="col-md-3">
                    @Html.Editor("workDet", new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Detail" } })

                </div>*@
            <div class="col-md-3">
                <select class="btn btn-md btn-danger" name="workDet" id="workDet" style="
    width: 270px;
    height: 35px;
">
                    <option value="Public Holiday" selected>Public Holiday</option>
                    <option value="Leave" selected>Leave</option>
                    <option value="TravelOrder">Travel Order</option>


                </select>
            </div>


            <div class="col-md-2">
                <input type="button" class="btn  btn-primary btn-block" value="Add" onclick="return addWork()">
            </div>
        </div>
        <br />

        <br />

        <br />

    </div>


}

<div id="List_Container">
    <table class="table">
        <tr>
            <th>
                SN
            </th>

            <th>
                Date
            </th>
            <th>
                Details
            </th>



            <th></th>
        </tr>
        @{ int rowNo = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(rowNo += 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.workDet)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.workListId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.workListId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.workListId })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, i => Url.Action("addHoliday", "workLists", new { i }))

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/nepali.datepicker.v2.2 (1)/nepali.datepicker.v2.2.min.js"></script>


<script>

    $('.nepali-calendar').click(function () {
        debugger;
        $('.nepali-calendar').nepaliDatePicker();
    });
    $('.nepali-calendar').nepaliDatePicker();


    function addWork() {
        debugger;
        $('#List_Container').html();
        var workTypeId = "";
        var issueTypeId = "";
        var munId = "";
        var timeId ="";
        var userId = '@Session["userId"]';
        var workDate = $('#date').val();
        var workDet = $('#workDet').val();

        {

            $.ajax({
                url: '/workLists/CreateHoliday',
                //type: "post",
                //dataType: "JSON",
                // async: true,
                method: "post",
                type: "application/json",

                data: {
                    workTypeId: workTypeId,
                    issueTypeId: issueTypeId,
                    munId: munId,
                    timeId: timeId,
                    userId: userId,
                    workDate: workDate,
                    workDet: workDet

                }
                ,
                success: function (result) {
                    debugger;



                    $('#List_Container').html(result);

                    $("#workDate").val();
                    $('#workDet').val('');

                }
                , error: function (result) {
                    debugger;

                    alert("something went wrongsss!!");
                }


            });
        }
    }
</script>
