@model IPagedList<workReport.Models.workList>

@using PagedList.Mvc;
@using PagedList;

<div id="List_Container">
    <table class="table">
        <tr>
            <th>
                Type
            </th>
            <th>
                Municipality
            </th>
            <th>
                Time
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.workListType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mun)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.workListId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.workListId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.workListId })
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, i => Url.Action("Index", "workLists", new { i }))
</div>

