@model IPagedList<workReport.Models.workList>

@using PagedList.Mvc;
@using PagedList;

<h2></h2>
@{
    var StartDatee = @ViewBag.StartDatee;
    var EndDatee = @ViewBag.EndDatee;
    // var PageNume = @ViewBag.PageNume;
}





@using (Html.BeginForm("RangeList", "workLists"))
{



    <div class="row">

        <div class="col-md-3">
            @Html.Editor("StartDatee", new
       {
           htmlAttributes = new
           {
               @class = "form-control "@*, @Value = @DateTime.Now.ToShortDateString()*@}
})
        </div>
        <div class="col-md-3">
            @Html.Editor("EndDatee", new
       {
           htmlAttributes = new
           {
               @class = "form-control "@*, @Value = @DateTime.Now.ToShortDateString()*@}
})
        </div>

        <div class="col-md-3">
            <input type="button" class="btn  btn-primary btn-block" value="submit" onclick="return searchWork1()">
        </div>


    </div>
   
}
<br />














<div id="List_Container">
    <table id="rangelisttable" class="table">
      
        <thead>
            <tr>


                <th>
                    workListType
                </th>
                <th>
                    issue
                </th>

                <th>
                    mun
                </th>

                <th>
                    time
                </th>
                <th>date</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>





    
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

@section scripts {


    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <script src="~/Scripts/datatables.min.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
  
    <script>

        $(document).ready(function () {
            debugger;
            $('#StartDatee').datepicker({ dateFormat: 'yy-mm-dd' }).datepicker("setDate", StartDatee);
       
            $('#EndDatee').datepicker({ dateFormat: 'yy-mm-dd' }).datepicker("setDate", EndDatee);
       
           
        });

        function searchWork1() {

            debugger;
            $("#rangelisttable").DataTable().destroy();

       var userId = '@Session["userId"]';
            var startDate = $('#StartDatee').val();
            var endDate = $('#EndDatee').val();
        $("#rangelisttable").DataTable(
            {
                "ajax": {
                    "url": "/workLists/RangeListnew",
                    "type": "GET",
                    "datatype": "json",
                     data: {
                         StartDatee: startDate,
                         EndDatee: endDate

                    }
                },
                "columns": [
                    { "data": "workListType" },
                    { "data": "issue" },
                    { "data": "mun" },
                    { "data": "time" },
                    { "data": "date" }
                ]

            });


    }




    </script>
    }

